#Files to ignore

#Ignore this for security concerns due to client token being in it.
.env

#Ignore node modules
node_modules/

#ignore database files
database*.json

#ignore files only used for dev purposes
userDataEntryPlanner.json
statsAndEffects.txt